dspy_ai==2.4.9
wikipedia==1.4.0
sentence-transformers
toml
langchain-text-splitters
trafilatura
langchain-huggingface
qdrant-client
langchain-qdrant
numpy==1.26.4
protobuf>=3.20.2,<4.0.0
grpcio>=1.46.0,<1.48.1
grpcio-tools>=1.46.0,<1.48.1
setproctitle
future
aiohttp==3.8.1
rich==12.5.1
tensorboard==2.9.0
google-auth-oauthlib>=0.5,<1.1
tensorboard-data-server>=0.7.0,<0.8.0
