dspy_ai==2.4.9
wikipedia==1.4.0
sentence-transformers
toml
langchain-text-splitters
trafilatura
langchain-huggingface
qdrant-client
langchain-qdrant
numpy==1.26.4
protobuf>=5.26.1,<6.0dev
grpcio>=1.63.2,<2.0.0
grpcio-tools>=1.63.2,<2.0.0
